
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    justify-content: space-between;
}

nav {
    background-color: blue;
    height: 10vh;
}

main{
    flex-grow: 1;
}
section {
    height: 20vh;
    margin: 10px;
}

article{
    margin-bottom: 10px;
    height: 20vh;
}

footer {
    background-color: red;
    height: 10vh;
}

.section1{
    background-color: green;
}

.sectiontel{
    background-color: yellow;
} 

.sectiontab{
    background-color: purple;
    display: none;
} 

.sectionord{
    background-color: pink;
    display: none;
} 

@media screen and (min-width: 767px){
    .sectiontab{
        background-color: purple;
        display: block;
    }

    .sections{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

/* @media (min-width: 767px) {

    .sectiontab{
        background-color: purple;
        display: flex;
    } 
}


@media (min-width: 1024px) {

    .sectionord{
        background-color: pink;
        display: flex;
    }
} */
